In [7]:
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [8]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/world_cup_players_db')

In [18]:
dftp = pd.read_csv("all_players_main.csv", index_col = 0)
df_players_stats = pd.read_csv("players_stats.csv", index_col = 0)
df_keepers_stats = pd.read_csv("keepers_stats.csv", index_col = 0)
df_clubs = pd.read_csv("clubs.csv", index_col = 0)
df_positions = pd.read_csv("positions.csv", index_col = 0)
df_squads = pd.read_csv("squads.csv", index_col = 0)

In [19]:
dftp.head()

,name,position_id,position_2_id,squad_id,age,club_id,birth_year,matches_played,starts,minutes_played
id,,,,,,,,,,
1,Brenden Aaronson,1,0,1,22-055,1,2000,4,0,108
2,Ali Abdi,2,0,2,28-361,2,1993,3,2,188
3,Salis Abdul Samed,1,0,3,22-265,3,2000,3,3,250
4,Saud Abdulhamid,2,1,4,23-151,4,1999,3,3,270
5,Nawaf Al Abed,1,0,4,32-324,5,1990,2,0,88

In [20]:
dftp.dtypes

name              object
position_id        int64
position_2_id      int64
squad_id           int64
age               object
club_id            int64
birth_year         int64
matches_played     int64
starts             int64
minutes_played     int64
dtype: object

In [21]:
df_players_stats.dtypes

player_id            int64
goals                int64
assists              int64
non_penalty_goals    int64
pk_goals             int64
pk_attemps           int64
yellow_cards         int64
red_cards            int64
dtype: object

In [22]:
df_positions.head()

   positions
id
0    No data
1         MF
2         DF
3         FW
4         GK

In [94]:
# sql = 'DROP TABLE IF EXISTS all_players_info CASCADE;'
# result = engine.execute(sql)

In [135]:
df_clubs.to_sql('clubs', engine)

255

In [136]:
df_positions.to_sql('positions', engine)

5

In [137]:
df_squads.to_sql('squads', engine)

33

In [138]:
df_players_stats.to_sql('players_stats', engine)

674

In [139]:
df_keepers_stats.to_sql('keepers_stats', engine)

41

In [140]:
dftp.to_sql('all_players_info', engine)

715

In [ ]:
#Add Primary Keys

In [141]:
sql = 'ALTER TABLE "clubs" ADD CONSTRAINT "pk_clubs" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [142]:
sql = 'ALTER TABLE "squads" ADD CONSTRAINT "pk_squads" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [143]:
sql = 'ALTER TABLE "positions" ADD CONSTRAINT "pk_positions" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [144]:
sql = 'ALTER TABLE "players_stats" ADD CONSTRAINT "pk_players_stats" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [145]:
sql = 'ALTER TABLE "keepers_stats" ADD CONSTRAINT "pk_keepers_stats" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [146]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "pk_all_players_info" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [ ]:
#Add Foreign Keys for all_players_info table

In [147]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_positions" FOREIGN KEY("position_id") REFERENCES "positions" ("id");'
result = engine.execute(sql)

In [148]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_positions_2" FOREIGN KEY("position_2_id") REFERENCES "positions" ("id");'
result = engine.execute(sql)

In [149]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_clubs" FOREIGN KEY("club_id") REFERENCES "clubs" ("id");'
result = engine.execute(sql)

In [150]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_squads" FOREIGN KEY("squad_id") REFERENCES "squads" ("id");'
result = engine.execute(sql)

In [ ]:
#Add Foreign Keys for players_stats and keepers_stats tables

In [151]:
sql = 'ALTER TABLE "players_stats" ADD CONSTRAINT "fk_players_id" FOREIGN KEY("player_id") REFERENCES "all_players_info" ("id");'
result = engine.execute(sql)

In [152]:
sql = 'ALTER TABLE "keepers_stats" ADD CONSTRAINT "fk_keepers_id" FOREIGN KEY("player_id") REFERENCES "all_players_info" ("id");'
result = engine.execute(sql)