In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [9]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/world_cup_players_db3')

In [98]:
dftp.to_csv("all_players_main.csv", index=False)
df_players_stats.to_csv("players_stats.csv", index=False)
df_keepers_stats.to_csv("keepers_stats.csv", index=False)
df_clubs.to_csv("clubs.csv", index=False)
df_positions.to_csv("positions.csv", index=False)
df_squads.to_csv("squads.csv", index=False)

In [150]:
dftp.to_csv("all_players_main.csv")

In [99]:
dftp = pd.read_csv("all_players_main.csv", index_col = 0)
df_players_stats = pd.read_csv("players_stats.csv", index_col = 0)
df_keepers_stats = pd.read_csv("keepers_stats.csv", index_col = 0)
df_clubs = pd.read_csv("clubs.csv", index_col = 0)
df_positions = pd.read_csv("positions.csv", index_col = 0)
df_squads = pd.read_csv("squads.csv", index_col = 0)

In [102]:
df_clubs.head()

Empty DataFrame
Columns: []
Index: [No data, Leeds United, Caen, Lens, Al-Hilal]

In [149]:
dftp.head()

,position_id,position_2_id,squad_id,age,club_id,birth_year,matches_played,starts,minutes_played
name,,,,,,,,,
Brenden Aaronson,1,0,1,22,1,2000,4,0,108
Ali Abdi,2,0,2,28,2,1993,3,2,188
Salis Abdul Samed,1,0,3,22,3,2000,3,3,250
Saud Abdulhamid,2,1,4,23,4,1999,3,3,270
Nawaf Al Abed,1,0,4,32,5,1990,2,0,88

In [146]:
theage_list = []
for age in dftp.age:
    theage = age.split('-')[0]
    theage_list.append(theage)
    #print(type(variable))
    #theage_list.append(int(variable))

theage_list

['22',
 '28',
 '22',
 '23',
 '32',
 '27',
 '30',
 '27',
 '22',
 '27',
 '31',
 '23',
 '27',
 '25',
 '26',
 '26',
 '19',
 '23',
 '27',
 '27',
 '29',
 '33',
 '33',
 '24',
 '26',
 '30',
 '32',
 '21',
 '24',
 '25',
 '22',
 '23',
 '39',
 '26',
 '27',
 '22',
 '26',
 '25',
 '26',
 '32',
 '22',
 '25',
 '31',
 '28',
 '26',
 '29',
 '26',
 '23',
 '27',
 '32',
 '31',
 '27',
 '33',
 '26',
 '24',
 '25',
 '30',
 '19',
 '33',
 '25',
 '29',
 '30',
 '24',
 '27',
 '29',
 '26',
 '32',
 '30',
 '19',
 '21',
 '18',
 '25',
 '30',
 '30',
 '25',
 '24',
 '32',
 '34',
 '35',
 '32',
 '29',
 '31',
 '31',
 '30',
 '25',
 '27',
 '30',
 '23',
 '31',
 '24',
 '33',
 '22',
 '34',
 '35',
 '21',
 '30',
 '20',
 '30',
 '28',
 '24',
 '29',
 '24',
 '30',
 '30',
 '30',
 '25',
 '27',
 '27',
 '29',
 '35',
 '28',
 '21',
 '28',
 '26',
 '24',
 '29',
 '26',
 '32',
 '23',
 '28',
 '32',
 '20',
 '26',
 '24',
 '22',
 '29',
 '27',
 '23',
 '30',
 '27',
 '25',
 '23',
 '22',
 '31',
 '23',
 '22',
 '22',
 '29',
 '23',
 '31',
 '28',
 '31',
 '21',
 '25',
 '28',
 '28',
 '31',
 '25',
 '27',
 '22',
 '34',
 '26',
 '26',
 '25',
 '23',
 '30',
 '22',
 '28',
 '24',
 '28',
 '24',
 '20',
 '25',
 '26',
 '33',
 '31',
 '26',
 '29',
 '23',
 '29',
 '25',
 '26',
 '25',
 '25',
 '29',
 '29',
 '30',
 '26',
 '24',
 '25',
 '26',
 '20',
 '29',
 '30',
 '33',
 '29',
 '18',
 '20',
 '23',
 '28',
 '26',
 '21',
 '21',
 '22',
 '23',
 '24',
 '24',
 '27',
 '29',
 '33',
 '30',
 '28',
 '29',
 '31',
 '23',
 '35',
 '28',
 '33',
 '18',
 '28',
 '27',
 '29',
 '26',
 '28',
 '36',
 '34',
 '27',
 '36',
 '26',
 '34',
 '33',
 '31',
 '27',
 '30',
 '27',
 '31',
 '34',
 '27',
 '26',
 '36',
 '31',
 '23',
 '28',
 '24',
 '23',
 '25',
 '32',
 '27',
 '20',
 '21',
 '32',
 '24',
 '31',
 '29',
 '25',
 '32',
 '23',
 '32',
 '31',
 '29',
 '26',
 '32',
 '35',
 '26',
 '25',
 '32',
 '30',
 '20',
 '30',
 '32',
 '24',
 '28',
 '30',
 '26',
 '26',
 '39',
 '27',
 '28',
 '21',
 '26',
 '29',
 '25',
 '23',
 '29',
 '31',
 '21',
 '30',
 '29',
 '23',
 '24',
 '25',
 '28',
 '20',
 '30',
 '35',
 '26',
 '25',
 '31',
 '30',
 '21',
 '24',
 '25',
 '32',
 '24',
 '30',
 '22',
 '27',
 '26',
 '20',
 '28',
 '29',
 '21',
 '28',
 '26',
 '28',
 '28',
 '27',
 '26',
 '31',
 '29',
 '32',
 '27',
 '22',
 '33',
 '29',
 '26',
 '25',
 '30',
 '24',
 '23',
 '20',
 '24',
 '30',
 '31',
 '24',
 '32',
 '28',
 '31',
 '32',
 '21',
 '27',
 '18',
 '26',
 '30',
 '26',
 '22',
 '23',
 '28',
 '27',
 '27',
 '32',
 '23',
 '31',
 '34',
 '23',
 '22',
 '29',
 '27',
 '27',
 '35',
 '33',
 '27',
 '29',
 '26',
 '32',
 '27',
 '23',
 '29',
 '26',
 '29',
 '25',
 '29',
 '24',
 '27',
 '28',
 '37',
 '27',
 '29',
 '28',
 '30',
 '21',
 '23',
 '30',
 '25',
 '24',
 '20',
 '28',
 '33',
 '25',
 '23',
 '23',
 '24',
 '24',
 '19',
 '28',
 '20',
 '25',
 '30',
 '30',
 '24',
 '25',
 '29',
 '35',
 '35',
 '31',
 '25',
 '28',
 '27',
 '25',
 '24',
 '23',
 '25',
 '26',
 '27',
 '25',
 '28',
 '32',
 '31',
 '37',
 '32',
 '29',
 '22',
 '26',
 '24',
 '25',
 '25',
 '27',
 '30',
 '26',
 '32',
 '30',
 '34',
 '27',
 '25',
 '28',
 '18',
 '23',
 '32',
 '33',
 '33',
 '28',
 '20',
 '19',
 '25',
 '27',
 '36',
 '25',
 '36',
 '22',
 '24',
 '36',
 '25',
 '30',
 '28',
 '24',
 '25',
 '32',
 '28',
 '29',
 '26',
 '24',
 '23',
 '28',
 '37',
 '34',
 '22',
 '25',
 '24',
 '21',
 '26',
 '27',
 '22',
 '29',
 '30',
 '34',
 '27',
 '25',
 '22',
 '32',
 '31',
 '27',
 '24',
 '27',
 '25',
 '28',
 '29',
 '27',
 '26',
 '21',
 '20',
 '25',
 '20',
 '39',
 '31',
 '33',
 '28',
 '31',
 '27',
 '27',
 '28',
 '26',
 '22',
 '22',
 '30',
 '24',
 '24',
 '27',
 '26',
 '28',
 '21',
 '31',
 '26',
 '25',
 '24',
 '25',
 '35',
 '23',
 '20',
 '32',
 '33',
 '23',
 '25',
 '20',
 '32',
 '27',
 '25',
 '29',
 '25',
 '26',
 '25',
 '28',
 '22',
 '30',
 '21',
 '23',
 '24',
 '37',
 '31',
 '24',
 '29',
 '37',
 '30',
 '29',
 '26',
 '32',
 '21',
 '32',
 '26',
 '21',
 '23',
 '25',
 '31',
 '26',
 '26',
 '30',
 '22',
 '20',
 '24',
 '30',
 '30',
 '23',
 '36',
 '30',
 '22',
 '22',
 '32',
 '25',
 '30',
 '31',
 '29',
 '27',
 '32',
 '29',
 '27',
 '19',
 '28',
 '38',
 '25',
 '19',
 '27',
 '22',
 '22',
 '26',
 '30',
 '25',
 '25',
 '33',
 '24',
 '24',
 '25',
 '31',
 '28',
 '28',
 '35',
 '27',
 '20',
 '25',
 '32',
 '27',
 '23',
 '34',
 '30',
 '24',
 '23',
 '24',
 '31',
 '30',
 '20',
 '22',
 '30',
 '30',
 '23',
 '25',
 '25',
 '21',
 '30',
 '25',
 '24',
 '28',
 '25',
 '22',
 '25',
 '25',
 '32',
 '28',
 '28',
 '24',
 '30',
 '24',
 '33',
 '24',
 '31',
 '29',
 '29',
 '24',
 '31',
 '25',
 '27',
 '34',
 '29',
 '35',
 '25',
 '22',
 '35',
 '22',
 '25',
 '23',
 '32',
 '29',
 '34',
 '22',
 '30',
 '35',
 '29',
 '28',
 '21',
 '20',
 '30',
 '25',
 '20',
 '33',
 '23',
 '33',
 '21',
 '32',
 '30',
 '24',
 '30',
 '28',
 '30',
 '30',
 '29',
 '34',
 '32',
 '26',
 '26',
 '20',
 '27',
 '20',
 '28',
 '29',
 '26',
 '29',
 '30',
 '30',
 '26',
 '24',
 '30',
 '35',
 '31',
 '23',
 '30',
 '25',
 '29',
 '29',
 '35',
 '33',
 '35',
 '30',
 '25',
 '27',
 '35',
 '37',
 '30',
 '30',
 '25',
 '33',
 '36',
 '36',
 '28',
 '37',
 '26',
 '31',
 '28',
 '29',
 '30',
 '36',
 '32',
 '32',
 '25',
 '33',
 '32',
 '28',
 '29',
 '35']

In [148]:
dftp.age = theage_list

In [139]:
key = "Ali Abdi"
int(dftp.loc[key, "age"].split('-')[0])

28

In [140]:
type(dftp.loc[key, "age"])

str

In [4]:
dftp.dtypes

name              object
position_id        int64
position_2_id      int64
squad_id           int64
age               object
club_id            int64
birth_year         int64
matches_played     int64
starts             int64
minutes_played     int64
dtype: object

In [5]:
df_players_stats.dtypes

player_id            int64
goals                int64
assists              int64
non_penalty_goals    int64
pk_goals             int64
pk_attemps           int64
yellow_cards         int64
red_cards            int64
dtype: object

In [6]:
df_positions.head()

   positions
id
0    No data
1         MF
2         DF
3         FW
4         GK

In [13]:
df_players_stats.head()

,player_id,goals,assists,non_penalty_goals,pk_goals,pk_attemps,yellow_cards,red_cards
id,,,,,,,,
1,1,0,0,0,0,0,0,0
2,2,0,0,0,0,0,1,0
3,3,0,0,0,0,0,0,0
4,4,0,0,0,0,0,1,0
5,5,0,0,0,0,0,1,0

In [17]:
df_keepers_stats.head()

,player_id,goals_against,shots_on_target_against,saves,clean_sheets,penalty_kicks_attempted,penalty_kicks_allowed,Penalty Kicks Saved
id,,,,,,,,
1,675,2,7,5,2,0,0,0
2,676,7,17,10,0,1,1,0
3,677,5,9,4,0,0,0,0
4,678,1,5,4,0,0,0,0
5,679,7,15,8,0,0,0,0

In [16]:
df_keepers_stats = df_keepers_stats.rename(columns = {"Goals Against": "goals_against", "Shots on Target Against": "shots_on_target_against",
                                                     "Saves": "saves", "Clean Sheets": "clean_sheets", "Penalty Kicks Attempted": "penalty_kicks_attempted",
                                                     "Penalty Kicks Allowed": "penalty_kicks_allowed", "Penalty kicks Saved": "penalty_kicks_saved"})

In [18]:
df_keepers_stats.to_csv("keepers_stats.csv")

In [10]:
schema_sql = """
            create table "clubs" (
	"id" int not null,
	"clubs" varchar(100) not null,
	constraint "pk_employees" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "positions" (
	"id" int not null,
	"positions" varchar(100) not null,
	constraint "pk_positions" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "squads" (
	"id" int not null,
	"squads" varchar(100) not null,
	constraint "pk_squads" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "all_players_info" (
	"id" int not null,
	"name" varchar(100) not null,
	"position_id" int not null,
	"position_2_id" int not null,
	"squad_id" int not null,
	"age" varchar(100) not null,
	"club_id" int not null,
	"birth_year" int not null,
	"matches_played" int not null,
	"starts" int not null,
	"minutes_played" int not null,
    "last_updated" timestamp default localtimestamp  NOT NULL,
	constraint "pk_all_players_info" primary key ("id"),
	constraint "fk_position_id" foreign key ("position_id") references "positions" ("id"),
	constraint "fk_position_2_id" foreign key ("position_2_id") references "positions" ("id"),
	constraint "fk_squad_id" foreign key ("squad_id") references "squads" ("id"),
	constraint "fk_clubs_id" foreign key ("club_id") references "clubs" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

create table "players_stats" (
	"id" int not null,
	"player_id" int not null,
	"goals" int not null,
	"assists" int not null,
	"non_penalty_goals" int not null,
	"pk_goals" int not null,
	"pk_attempts" int not null,
	"yellow_cards" int not null,
	"red_cards" int not null,
	constraint "pk_players_stats" primary key ("id"),
	constraint "fk_player_id" foreign key ("player_id") references "all_players_info" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

create table "keepers_stats" (
	"id" int not null,
	"player_id" int not null,
	"goals_against" int not null,
	"shots_on_targets_against" int not null,
	"saves" int not null,
	"clean_sheets" int not null,
	"penalty_kick_attempts" int not null,
	"penalty_kicks_allowed" int not null,
	"penalty_kicks_saved" int not null,
	constraint "pk_keepers_stats" primary key ("id"),
	constraint "fk_keepers_player_id" foreign key ("player_id") references "all_players_info" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

"""

result = engine.execute(schema_sql)

In [22]:
i = 3
df_clubs.loc[i, "clubs"]

'Lens'

In [35]:
df_positions.columns

Index(['positions'], dtype='object')

In [26]:
sql = 'INSERT INTO "clubs" ("id", "clubs") VALUES (%s, %s)'
for i in range(len(df_clubs)):
    result = engine.execute(sql, [i, df_clubs.loc[i, "clubs"]])

In [32]:
sql = 'INSERT INTO "squads" ("id", "squads") VALUES (%s, %s)'
for i in range(len(df_squads)):
    result = engine.execute(sql, [i, df_squads.loc[i, "squads"]])

In [37]:
sql = 'INSERT INTO "positions" ("id", "positions") VALUES (%s, %s)'
for i in range(len(df_positions)):
    result = engine.execute(sql, [i, df_positions.loc[i, "positions"]])

In [81]:
df_clubs.dtypes

clubs    object
dtype: object

In [89]:
dftp.dtypes

name              object
position_id        int32
position_2_id      int32
squad_id           int32
age               object
club_id            int32
birth_year         int32
matches_played     int32
starts             int32
minutes_played     int32
dtype: object

In [39]:
dftp.columns

Index(['name', 'position_id', 'position_2_id', 'squad_id', 'age', 'club_id',
       'birth_year', 'matches_played', 'starts', 'minutes_played'],
      dtype='object')

In [88]:
dftp = dftp.astype({"position_id": int, "position_2_id": "int", "squad_id": "int", "birth_year": "int", 
                   "club_id": "int", "matches_played": "int", "starts": "int", "minutes_played": "int"})

In [97]:
cols = ["id", "name", "position_id", "position_2_id", "squad_id", "age", "club_id", "birth_year", "matches_played", "starts", "minutes_played"] 
sql = 'INSERT INTO "all_players_info" ("id", "name", "position_id", "position_2_id", "squad_id", "age", "club_id", "birth_year", "matches_played", "starts", "minutes_played") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
i = 1
for i in range(1,len(dftp)):
    a = []
    for j in range(1,len(cols)):
        if cols[j] in ["name", "age"]:
            a.append(dftp.loc[i, cols[j]])
        else:
            a.append(dftp.loc[i, cols[j]].item())
    a = [i] + a
    result = engine.execute(sql, a)

In [ ]:
engine.execute("truncate table clubs")

In [19]:
df_clubs.to_sql('clubs', engine, mode="append")

In [27]:
#df_positions.to_sql('positions', engine)

In [28]:
#df_squads.to_sql('squads', engine)

In [29]:
#df_players_stats.to_sql('players_stats', engine)

In [30]:
#df_keepers_stats.to_sql('keepers_stats', engine)

In [31]:
#dftp.to_sql('all_players_info', engine)

In [ ]:
#Add Primary Keys

In [141]:
sql = 'ALTER TABLE "clubs" ADD CONSTRAINT "pk_clubs" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [142]:
sql = 'ALTER TABLE "squads" ADD CONSTRAINT "pk_squads" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [143]:
sql = 'ALTER TABLE "positions" ADD CONSTRAINT "pk_positions" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [144]:
sql = 'ALTER TABLE "players_stats" ADD CONSTRAINT "pk_players_stats" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [145]:
sql = 'ALTER TABLE "keepers_stats" ADD CONSTRAINT "pk_keepers_stats" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [146]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "pk_all_players_info" PRIMARY KEY ("id");'
result = engine.execute(sql)

In [ ]:
#Add Foreign Keys for all_players_info table

In [147]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_positions" FOREIGN KEY("position_id") REFERENCES "positions" ("id");'
result = engine.execute(sql)

In [148]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_positions_2" FOREIGN KEY("position_2_id") REFERENCES "positions" ("id");'
result = engine.execute(sql)

In [149]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_clubs" FOREIGN KEY("club_id") REFERENCES "clubs" ("id");'
result = engine.execute(sql)

In [150]:
sql = 'ALTER TABLE "all_players_info" ADD CONSTRAINT "fk_all_players_squads" FOREIGN KEY("squad_id") REFERENCES "squads" ("id");'
result = engine.execute(sql)

In [ ]:
#Add Foreign Keys for players_stats and keepers_stats tables

In [151]:
sql = 'ALTER TABLE "players_stats" ADD CONSTRAINT "fk_players_id" FOREIGN KEY("player_id") REFERENCES "all_players_info" ("id");'
result = engine.execute(sql)

In [152]:
sql = 'ALTER TABLE "keepers_stats" ADD CONSTRAINT "fk_keepers_id" FOREIGN KEY("player_id") REFERENCES "all_players_info" ("id");'
result = engine.execute(sql)