In [263]:
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [264]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/world_cup_players_db5')

In [262]:
engine.dispose()

In [261]:
# dftp.to_csv("all_players_main.csv")
# df_players_stats.to_csv("players_stats.csv")
# df_keepers_stats.to_csv("keepers_stats.csv")
# df_clubs.to_csv("clubs.csv")
# df_positions.to_csv("positions.csv")
# df_squads.to_csv("squads.csv")

In [265]:
dftp = pd.read_csv("all_players_main.csv", index_col = 0)
df_players_stats = pd.read_csv("players_stats.csv", index_col = 0)
df_keepers_stats = pd.read_csv("keepers_stats.csv", index_col = 0)
df_clubs = pd.read_csv("clubs.csv", index_col = 0)
df_positions = pd.read_csv("positions.csv", index_col = 0)
df_squads = pd.read_csv("squads.csv", index_col = 0)

In [266]:
df_clubs.head()

Empty DataFrame
Columns: []
Index: [Leeds United, Caen, Lens, Al-Hilal, Al-Shabab]

In [267]:
df_positions.head()

Empty DataFrame
Columns: []
Index: [MF, DF, FW, GK, No Data]

In [268]:
df_squads.head()

Empty DataFrame
Columns: []
Index: [United States, Tunisia, Ghana, Saudi Arabia, Senegal]

In [269]:
dftp.head()

,position_id,position_2_id,squad_id,age,club_id,birth_year,matches_played,starts,minutes_played
name,,,,,,,,,
Brenden Aaronson,1,5,1,22,1,2000,4,0,108
Ali Abdi,2,5,2,28,2,1993,3,2,188
Salis Abdul Samed,1,5,3,22,3,2000,3,3,250
Saud Abdulhamid,2,1,4,23,4,1999,3,3,270
Nawaf Al Abed,1,5,4,32,5,1990,2,0,88

In [270]:
df_players_stats.head()

,goals,assists,non_penalty_goals,pk_goals,pk_attempts,yellow_cards,red_cards
player_id,,,,,,,
1,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0
5,0,0,0,0,0,1,0

In [271]:
df_keepers_stats.head()

,goals_against,shots_on_target_against,saves,clean_sheets,penalty_kicks_attempted,penalty_kicks_allowed,penalty_kicks_saved
player_id,,,,,,,
675,2,7,5,2,0,0,0
676,7,17,10,0,1,1,0
677,5,9,4,0,0,0,0
678,1,5,4,0,0,0,0
679,7,15,8,0,0,0,0

In [273]:
schema_sql = """
            create table "clubs" (
	"id" serial not null,
	"clubs" varchar(60) not null,
	constraint "pk_employees" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "positions" (
	"id" serial not null,
	"positions" varchar(20) not null,
	constraint "pk_positions" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "squads" (
	"id" serial not null,
	"squads" varchar(40) not null,
	constraint "pk_squads" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "all_players_main" (
	"id" serial not null,
	"name" varchar(60) not null,
	"position_id" int not null,
	"position_2_id" int not null,
	"squad_id" int not null,
	"age" int not null,
	"club_id" int not null,
	"birth_year" int not null,
	"matches_played" int not null,
	"starts" int not null,
	"minutes_played" int not null,
    "last_updated" timestamp default localtimestamp  NOT NULL,
	constraint "pk_all_players_info" primary key ("id"),
	constraint "fk_position_id" foreign key ("position_id") references "positions" ("id"),
	constraint "fk_position_2_id" foreign key ("position_2_id") references "positions" ("id"),
	constraint "fk_squad_id" foreign key ("squad_id") references "squads" ("id"),
	constraint "fk_clubs_id" foreign key ("club_id") references "clubs" ("id")
);

create table "players_stats" (
	"id" serial not null,
	"player_id" int not null,
	"goals" int not null,
	"assists" int not null,
	"non_penalty_goals" int not null,
	"pk_goals" int not null,
	"pk_attempts" int not null,
	"yellow_cards" int not null,
	"red_cards" int not null,
	constraint "pk_players_stats" primary key ("id"),
	constraint "fk_player_id" foreign key ("player_id") references "all_players_main" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

create table "keepers_stats" (
	"id" serial not null,
	"player_id" int not null,
	"goals_against" int not null,
	"shots_on_target_against" int not null,
	"saves" int not null,
	"clean_sheets" int not null,
	"penalty_kicks_attempted" int not null,
	"penalty_kicks_allowed" int not null,
	"penalty_kicks_saved" int not null,
	constraint "pk_keepers_stats" primary key ("id"),
	constraint "fk_keepers_player_id" foreign key ("player_id") references "all_players_main" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

"""

result = engine.execute(schema_sql)

In [274]:
df_clubs.to_sql('clubs', engine, if_exists = "append")

254

In [275]:
df_positions.to_sql('positions', engine, if_exists = "append")

5

In [276]:
df_squads.to_sql('squads', engine, if_exists = "append")

32

In [277]:
dftp.to_sql('all_players_main', engine, if_exists = "append")

715

In [278]:
df_players_stats.to_sql('players_stats', engine, if_exists = "append")

674

In [279]:
df_keepers_stats.to_sql('keepers_stats', engine, if_exists = "append")

41

In [ ]:
engine.execute("truncate table keepers_stats")

In [ ]:
engine.execute("truncate table player_stats")

In [236]:
engine.execute("truncate table all_players_main cascade")

In [235]:
engine.execute("truncate table squads cascade")

In [234]:
engine.execute("truncate table positions cascade")

In [233]:
engine.execute("truncate table clubs cascade")