In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import psycopg2

from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [169]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/world_cup_players_db4')

In [170]:
#engine.dispose()

In [261]:
dftp.to_csv("all_players_main.csv")
df_players_stats.to_csv("players_stats.csv")
df_keepers_stats.to_csv("keepers_stats.csv")
df_clubs.to_csv("clubs.csv")
df_positions.to_csv("positions.csv")
df_squads.to_csv("squads.csv")

In [159]:
dftp = pd.read_csv("all_players_main.csv", index_col = 0)
df_players_stats = pd.read_csv("players_stats.csv", index_col = 0)
df_keepers_stats = pd.read_csv("keepers_stats.csv", index_col = 0)
df_clubs = pd.read_csv("clubs.csv", index_col = 0)
df_positions = pd.read_csv("positions.csv", index_col = 0)
df_squads = pd.read_csv("squads.csv", index_col = 0)

In [226]:
df_clubs.head()

Empty DataFrame
Columns: []
Index: [Leeds United, Caen, Lens, Al-Hilal, Al-Shabab]

In [231]:
df_positions.head()

Empty DataFrame
Columns: []
Index: [MF, DF, FW, GK, No Data]

In [222]:
df_squads.head()

Empty DataFrame
Columns: []
Index: [United States, Tunisia, Ghana, Saudi Arabia, Senegal]

In [208]:
dftp.head()

,position_id,position_2_id,squad_id,age,club_id,birth_year,matches_played,starts,minutes_played
name,,,,,,,,,
Brenden Aaronson,1,5,1,22,1,2000,4,0,108
Ali Abdi,2,5,2,28,2,1993,3,2,188
Salis Abdul Samed,1,5,3,22,3,2000,3,3,250
Saud Abdulhamid,2,1,4,23,4,1999,3,3,270
Nawaf Al Abed,1,5,4,32,5,1990,2,0,88

In [190]:
dftp.position_2_id.loc[dftp.position_2_id == 0] = 5

In [217]:
df_squads = df_squads.reset_index().drop(0, axis=0)

In [221]:
df_squads = df_squads.set_index("squads", drop=True)

In [223]:
df_positions = df_positions.reset_index().drop(0, axis=0).set_index("positions", drop=True)

In [225]:
df_clubs = df_clubs.reset_index().drop(0, axis=0).set_index("clubs", drop=True)

In [230]:
df_positions = df_positions.reset_index().append({"positions": "No Data"}, ignore_index=True).set_index("positions", drop=True)

C:\Users\sajid\AppData\Local\Temp\ipykernel_14076\3869490616.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_positions = df_positions.reset_index().append({"positions": "No Data"}, ignore_index=True).set_index("positions", drop=True)

In [251]:
df_players_stats.head()

,goals,assists,non_penalty_goals,pk_goals,pk_attempts,yellow_cards,red_cards
player_id,,,,,,,
1,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0
5,0,0,0,0,0,1,0

In [250]:
df_players_stats = df_players_stats.rename(columns = {"pk_attemps": "pk_attempts"})

In [165]:
df_keepers_stats.head()

,goals_against,shots_on_target_against,saves,clean_sheets,penalty_kicks_attempted,penalty_kicks_allowed,Penalty Kicks Saved
player_id,,,,,,,
675,2,7,5,2,0,0,0
676,7,17,10,0,1,1,0
677,5,9,4,0,0,0,0
678,1,5,4,0,0,0,0
679,7,15,8,0,0,0,0

In [257]:
df_keepers_stats = df_keepers_stats.rename(columns = {"Penalty Kicks Saved": "penalty_kicks_saved"})

In [241]:
schema_sql = """
            create table "clubs" (
	"id" serial not null,
	"clubs" varchar(60) not null,
	constraint "pk_employees" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "positions" (
	"id" serial not null,
	"positions" varchar(20) not null,
	constraint "pk_positions" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "squads" (
	"id" serial not null,
	"squads" varchar(40) not null,
	constraint "pk_squads" primary key ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
	);

create table "all_players_info" (
	"id" serial not null,
	"name" varchar(60) not null,
	"position_id" int not null,
	"position_2_id" int not null,
	"squad_id" int not null,
	"age" int not null,
	"club_id" int not null,
	"birth_year" int not null,
	"matches_played" int not null,
	"starts" int not null,
	"minutes_played" int not null,
    "last_updated" timestamp default localtimestamp  NOT NULL,
	constraint "pk_all_players_info" primary key ("id"),
	constraint "fk_position_id" foreign key ("position_id") references "positions" ("id"),
	constraint "fk_position_2_id" foreign key ("position_2_id") references "positions" ("id"),
	constraint "fk_squad_id" foreign key ("squad_id") references "squads" ("id"),
	constraint "fk_clubs_id" foreign key ("club_id") references "clubs" ("id")
);

create table "players_stats" (
	"id" serial not null,
	"player_id" int not null,
	"goals" int not null,
	"assists" int not null,
	"non_penalty_goals" int not null,
	"pk_goals" int not null,
	"pk_attempts" int not null,
	"yellow_cards" int not null,
	"red_cards" int not null,
	constraint "pk_players_stats" primary key ("id"),
	constraint "fk_player_id" foreign key ("player_id") references "all_players_info" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

create table "keepers_stats" (
	"id" serial not null,
	"player_id" int not null,
	"goals_against" int not null,
	"shots_on_target_against" int not null,
	"saves" int not null,
	"clean_sheets" int not null,
	"penalty_kicks_attempted" int not null,
	"penalty_kicks_allowed" int not null,
	"penalty_kicks_saved" int not null,
	constraint "pk_keepers_stats" primary key ("id"),
	constraint "fk_keepers_player_id" foreign key ("player_id") references "all_players_info" ("id"),
    "last_updated" timestamp default localtimestamp  NOT NULL
);

"""

result = engine.execute(schema_sql)

In [255]:
engine.execute("alter table keepers_stats rename column shots_on_targets_against to shots_on_target_against")

In [258]:
engine.execute("alter table keepers_stats rename column penalty_kick_attempts to penalty_kicks_attempted")

In [242]:
df_clubs.to_sql('clubs', engine, if_exists = "append")

254

In [243]:
df_positions.to_sql('positions', engine, if_exists = "append")

5

In [244]:
df_squads.to_sql('squads', engine, if_exists = "append")

32

In [245]:
dftp.to_sql('all_players_info', engine, if_exists = "append")

715

In [252]:
df_players_stats.to_sql('players_stats', engine, if_exists = "append")

674

In [259]:
df_keepers_stats.to_sql('keepers_stats', engine, if_exists = "append")

41

In [ ]:
engine.execute("truncate table keepers_stats")

In [ ]:
engine.execute("truncate table player_stats")

In [236]:
engine.execute("truncate table all_players_info cascade")

In [235]:
engine.execute("truncate table squads cascade")

In [234]:
engine.execute("truncate table positions cascade")

In [233]:
engine.execute("truncate table clubs cascade")

In [22]:
i = 3
df_clubs.loc[i, "clubs"]

'Lens'

In [35]:
df_positions.columns

Index(['positions'], dtype='object')

In [26]:
sql = 'INSERT INTO "clubs" ("id", "clubs") VALUES (%s, %s)'
for i in range(len(df_clubs)):
    result = engine.execute(sql, [i, df_clubs.loc[i, "clubs"]])

In [32]:
sql = 'INSERT INTO "squads" ("id", "squads") VALUES (%s, %s)'
for i in range(len(df_squads)):
    result = engine.execute(sql, [i, df_squads.loc[i, "squads"]])

In [37]:
sql = 'INSERT INTO "positions" ("id", "positions") VALUES (%s, %s)'
for i in range(len(df_positions)):
    result = engine.execute(sql, [i, df_positions.loc[i, "positions"]])

In [81]:
df_clubs.dtypes

clubs    object
dtype: object

In [89]:
dftp.dtypes

name              object
position_id        int32
position_2_id      int32
squad_id           int32
age               object
club_id            int32
birth_year         int32
matches_played     int32
starts             int32
minutes_played     int32
dtype: object

In [39]:
dftp.columns

Index(['name', 'position_id', 'position_2_id', 'squad_id', 'age', 'club_id',
       'birth_year', 'matches_played', 'starts', 'minutes_played'],
      dtype='object')

In [88]:
dftp = dftp.astype({"position_id": int, "position_2_id": "int", "squad_id": "int", "birth_year": "int", 
                   "club_id": "int", "matches_played": "int", "starts": "int", "minutes_played": "int"})

In [97]:
cols = ["id", "name", "position_id", "position_2_id", "squad_id", "age", "club_id", "birth_year", "matches_played", "starts", "minutes_played"] 
sql = 'INSERT INTO "all_players_info" ("id", "name", "position_id", "position_2_id", "squad_id", "age", "club_id", "birth_year", "matches_played", "starts", "minutes_played") VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
i = 1
for i in range(1,len(dftp)):
    a = []
    for j in range(1,len(cols)):
        if cols[j] in ["name", "age"]:
            a.append(dftp.loc[i, cols[j]])
        else:
            a.append(dftp.loc[i, cols[j]].item())
    a = [i] + a
    result = engine.execute(sql, a)